<form ng-init="getMahasiswaById()" ng-submit="editMahasiswa()">
  <div class="form-group">
    <label>NPM</label>
    <input type="text" class="form-control" ng-model="mahasiswa.data[0].npm" required readonly>
  </div>
  <div class="form-group">
    <label>Nama</label>
    <input type="text" class="form-control" placeholder="nama"  ng-model="mahasiswa.data[0].nama" required>
  </div>
  <div class="form-group">
    <label>No HP</label>
    <input type="text" class="form-control" placeholder="no hp"  ng-model="mahasiswa.data[0].no_hp" required>
  </div>
  <div class="form-group">
    <label>Alamat</label>
    <textarea name="alamat" rows="8" class="form-control" ng-model="mahasiswa.data[0].alamat" required></textarea>
  </div>
  <button type="submit" class="btn btn-danger">Simpan</button>
  <a href="#"class="btn btn-primary">Batal</a>
</form>
