<br>
<a href="#!/mahasiswa/add" class="btn btn-success"> Tambah Data Mahasiswa</a>
<table class="table" ng-init="getMahasiswa()">
  <thead style="text-align:center">
    <th>NPM</th>
    <th>Nama</th>
    <th>Aksi</th>
  </thead>

  <tbody>
    <tr ng-repeat="d in mahasiswa.data">
      <td>{{d.npm}}</td>
      <td>{{d.nama}}</td>
      <td style="text-align:center">
        <a href="#!/mahasiswa/edit/{{d.npm}}" class="btn btn-info">Ubah Data</a>
        <a href="#!/mahasiswa/detail/{{d.npm}}" class="btn btn-primary">Detail Data</a>
        <a href="#" class="btn btn-danger" ng-click="removeMahasiswa(d.npm)">Hapus Data</a>
      </td>
    </tr>
  </tbody>
</table>
